@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --t-scale: 1.1;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-app-region: no-drag;
    user-select: none;
  }
}
